USE [master]
GO
/****** Object:  Database [demo_roll_game]    Script Date: 3/27/2022 10:27:43 PM ******/
CREATE DATABASE [demo_roll_game]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'demo_roll_game', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\demo_roll_game.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'demo_roll_game_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\demo_roll_game_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [demo_roll_game].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [demo_roll_game]
GO
/****** Object:  Table [dbo].[match]    Script Date: 3/27/2022 10:27:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[match](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](200) NOT NULL,
	[startedAt] [datetime] NOT NULL,
	[expiresAt] [datetime] NOT NULL,
	[isComplated] [bit] NOT NULL,
	[winnerRoll] [int] NULL,
	[winnerName] [varchar](150) NULL,
 CONSTRAINT [PK_MATCH] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__match__72E12F1B6152E0EE] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 3/27/2022 10:27:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userName] [varchar](100) NOT NULL,
	[password] [varchar](100) NOT NULL,
	[isActive] [bit] NOT NULL,
	[isAvailable] [bit] NULL,
 CONSTRAINT [PK_USER] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__user__66DCF95C21DDA672] UNIQUE NONCLUSTERED 
(
	[userName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_match]    Script Date: 3/27/2022 10:27:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_match](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NOT NULL,
	[joinedAt] [datetime] NOT NULL,
	[matchId] [int] NOT NULL,
	[roll] [int] NOT NULL,
	[isWinner] [bit] NOT NULL,
 CONSTRAINT [PK_USER_MATCH] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[user] ADD  CONSTRAINT [DF__user__isActive__25869641]  DEFAULT ('0') FOR [isActive]
GO
ALTER TABLE [dbo].[user_match] ADD  CONSTRAINT [DF__user_matc__isWin__2B3F6F97]  DEFAULT ('0') FOR [isWinner]
GO
ALTER TABLE [dbo].[user_match]  WITH CHECK ADD  CONSTRAINT [user_match_fk0] FOREIGN KEY([userId])
REFERENCES [dbo].[user] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[user_match] CHECK CONSTRAINT [user_match_fk0]
GO
ALTER TABLE [dbo].[user_match]  WITH CHECK ADD  CONSTRAINT [user_match_fk1] FOREIGN KEY([matchId])
REFERENCES [dbo].[match] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[user_match] CHECK CONSTRAINT [user_match_fk1]
GO
USE [master]
GO
